<h1>Coffee Bean show page</h1>

<div id="bean-wrapper" data-beanid="<%= @bean.id %>" data-roasterid=<%= @bean.roaster.id %>>
  <!-- render bean details via js -->
</div>

<hr>
<p>&#10084; <%= @bean.favorite_and_comments.size %> user's favorite bean</p>

<div id="comments-wrapper">
  <h3>Comments</h3>
  <!-- render comments via js -->
</div>


<%= button_to comments_path do %>
  Want to add to my Favorite!
  <input type="hidden" name="favorite_and_comment[bean_id]" value="<%= @bean.id %>">
  <input type="hidden" name="favorite_and_comment[favorite]" value="<%= true %>">
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<button type="button" id="comment-btn">Commment Form</button>

<div id="comment-form" style="display: none;">
  <%= form_for @bean.favorite_and_comments.build, url: :comments do |f| %>
    <%= f.hidden_field :bean_id, :value => @bean.id %>
    <%= f.text_area :comments %>
    <%= f.submit "Submit" %>
  <% end %>
</div>




<!-- Display comments via Ruby -->
<!--<div>
  <%# if @fav_com.exists? %>
  <%# @fav_com.each do |fc| %>
  <%# if !fc.comments.nil? %>
  <h5><%#= fc.user.username %>: </h5>
  <p><%#= fc.comments %></p>
  <%# end %>
  <%# end %>
  <%# end %>
</div>
</div>-->
