<h1>Bean show page</h1>

<p>Roasted by <a href="<%= roaster_path(@bean.roaster) %>"><%= @bean.roaster.roaster_name %></a></p>
<h2><%= @bean.brand %></h2>
<p><%= @bean.variety %></p>
<p><%= @bean.taste_note %></p>
<p><%= @bean.description %></p>
<p><%= @bean.organic %></p>
<p><%= @bean.fairtrade %></p>
<p><%= @bean.origin_1 %></p>
<p><%= @bean.origin_2 %></p>
<p><%= @bean.origin_3 %></p>
